$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);
//  (background)
$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);

// (circle)
$Violet-blue: hsla(256, 72%, 46%, 1);
$Persian-blue: hsla(241, 72%, 46%, 0);

$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

@font-face {
  font-family: "hank";
  src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "hank", sans-serif;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: $Pale-blue;
}
.container {
  max-width: 450px;
  display: flex;
  background-color: $White;
  border-radius: 25px;
  .result {
    flex-basis: 50%;
    background-image: linear-gradient($Light-slate-blue, $Light-royal-blue);
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 25px;
    h5 {
      color: $Light-lavender;
    }
    .circle {
      border-radius: 50%;
      background-image: linear-gradient($Violet-blue, $Persian-blue);
      width: 100px;
      height: 100px;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 2rem;
        font-weight: 800;
        color: $White;
      }
      p {
        font-size: 0.8rem;
        color: $Light-lavender;
        opacity: 0.6;
      }
    }
    h1 {
      font-size: 1.2rem;
      color: $White;
      margin-bottom: 0.8rem;
    }
    .detail {
      color: $Light-lavender;
      font-size: 0.7rem;
      line-height: 1.5;
    }
  }
  .summary {
    flex-basis: 50%;
    padding: 1.5rem;
    h5 {
    }
    .card-container {
      margin: 1.4rem 0;
      .card {
        background-color: lighten($Light-red, 30%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 9px;
        .reaction {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          img {
            width: 15px;
          }
          h6 {
            font-size: 0.8rem;
            color: $Light-red;
          }
        }
        .rate {
          h5 {
             color: $Dark-gray-blue;
            span {
               opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
